<div class="container" >
    <button class="btn btn-danger" [routerLink] = "['/Favorites']" >Favorites</button>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Region</th>
        <th>Languages</th>
        <th>Capital</th>
        <th>Favorites</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Country of Countries| paginate: {itemsPerPage: 10, currentPage:page, id: '1'};let i = index"  >
        <th>{{i}}</th>
        <td>{{Country.name}}</td>
        <th>{{Country.region}}</th>
        <td>{{Country.languages[0].name}}</td>
        <td>{{Country.capital}}</td>
        <th><input (click)="AddToFavorites(i)" [checked]="Clicked" type="checkbox" ></th>
        
      </tr>

    </tbody>
    <pagination-controls (pageChange)="page = $event" id="1"
    maxSize="10"
    directionLinks="true"
    autoHide="true">
</pagination-controls>
  </table>
  </div>
  